{% extends "::skeleton_email.html.twig" %}

{% block subject %}{% autoescape false %}
New Feedback from {{app.user.getFullName()}}!
{% endautoescape %}{% endblock %}

{% block title %}{% autoescape false %}
{#<img src="{{ app.request.uriForPath('/../img/email/title-registration.gif')}}" border="0" /> #}
{% endautoescape %}{% endblock %}

{% block sub_title %}{% autoescape false %}
New Feedback !
{% endautoescape %}{% endblock %}

{% block body_html %}{% autoescape false %}
<p style="text-align:center; font-size:18px;">from  {{app.user.getFullName()}} [ {{app.user.email}} ] <p>
<p>{{data["body"]}}</p>
<br />
<p style="text-align:center">For page : {{data["uri"]}}<p>
{% endautoescape %}{% endblock %}

{% block buttons %}{% endblock %}

