{% extends 'TCCoreBundle:Client:Relation/index.html.twig' %}

{% block body_class %} {{parent()}} order-show order-not-ready  {% endblock %}

{% use "TCCoreBundle:Client:Relation/menu.html.twig" %}

{% block toolbar %}
    <div class="tc-breadcrumb pull-left">
        {% set ordersMenu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:ordersMenu',[],{"relation": relation, "order":order}) %}
        {{ knp_menu_render(ordersMenu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

    <div class="tc-controls pull-right">
        <a class="btn-primary btn" 
               href="{{path('client_order_discuss' , {'idOrder':order.id, 'idRelation': relation.id})}}">
            <i class="icon-discussion icon-white"></i>
            Discuss
        </a>
    </div>
{% endblock %}

{% block sheet %}
<div class="tc-over-section">
    <div class="tc-instructions">
        This order is not ready yet. You can discuss more about the job to be done or open the order now.
    </div>
    <div class="tc-controls">
        <div class="discuss">
            <a href="{{path('client_order_discuss',{'idOrder':order.id, 'idRelation': relation.id})}}" class="btn">
                <i class="icon-discussion"></i>
                Discuss
            </a>
        </div>
            
        {% if is_vendor(relation) %}
        <div class="divider-vertical"></div>
        
        <div class="open">
            <a href="{{path('client_order_edit',{'idOrder':order.id, 'idRelation': relation.id})}}" class="btn">
                Open order
            </a>
        </div>
        {% endif %}
    </div>
</div>

{% include 'TCCoreBundle:Order:not_ready.html.twig' %}

{% endblock %}