{% extends 'TCCoreBundle:Client:Relation/index.html.twig' %}

{% use "TCCoreBundle:Order:show.html.twig" with body_class as base_body_class %}

{% block body_class %} {{parent()}} {{ block('base_body_class') }}  {% endblock %}

{% use "TCCoreBundle:Client:Relation/menu.html.twig" %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
    {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:ordersMenu',[],{"relation": relation, "order":order}) %}
    {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
</div>

    <div class="tc-controls pull-right">
        <a class="btn-primary btn" 
               href="{{path('client_order_discuss' , {'idOrder':order.id, 'idRelation': relation.id})}}">
            <i class="icon-discussion icon-white"></i>
            Discuss
        </a>

        <div class="tc-edit-btn btn-group">                
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                 <span class="icon-arrow-down"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li><a href="#">Cancel order</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block purchase_section %}
{% if not order.approved %}
    <div class="tc-agreement-section span5">
    {{form_start(purchaseForm)}}
        <div class="agree-check">
            {{form_widget(purchaseForm.approved)}}
            I accept the terms and conditions of the <a href="#">service agreement</a>.
        </div>
        <div class="agree-btn">
            <button type="submit" class="btn btn-primary btn-large"
                id="{{purchaseForm.submit.vars.id}}"
                name="{{purchaseForm.submit.vars.full_name}}">
                <i class="icon-shopping-cart icon-white"></i> 
                Purchase Work
            </button>
        </div>
    {{form_widget(purchaseForm._token)}}
    {{form_end(purchaseForm, {'render_rest':false})}}
    </div>
{% endif %}
{% endblock %}