{% extends 'TCCoreBundle:Client:Relation/index.html.twig' %}

{% set thread = order.thread %}

{% use "TCCoreBundle:Client:Relation/menu.html.twig" %}
{% use "TCCoreBundle:Order:show.html.twig" with body_class as base_body_class %}
{% use "TCCoreBundle:Thread:quick.html.twig" %}

{% block body_class %} {{parent()}} {{ block('base_body_class') }}  {% endblock %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
    {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:ordersMenu',[],{"relation": relation, "order":order}) %}
    {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
</div>

    <div class="tc-controls toolbar pull-right">
        <div class="btn-group">      
            <button type="button" class=" btn-lg btn-default btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>            
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Cancel order</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main_attrs %}
{{ block('thread_main_attrs') }}
{% endblock %}

{%block purchase_section %}
{% if purchaseForm is defined and purchaseForm is not null %}
<div class="tc-agreement-section">
    {{form_start(purchaseForm)}}
        <div class="agree-check">
            {{form_widget(purchaseForm.confirmation)}}
            I accept the terms and conditions of the <a href="#">service agreement</a>.
        </div>
        <div class="agree-btn">
            <button type="submit" class="btn btn-primary btn-large"
                id="{{purchaseForm.submit.vars.id}}"
                name="{{purchaseForm.submit.vars.full_name}}">
                <i class="icon-shopping-cart icon-white"></i> 
                Purchase Work
            </button>
        </div>
    {{form_widget(purchaseForm._token)}}
    {{form_end(purchaseForm, {'render_rest':false})}}
</div>
{% endif %}
{% endblock %} 

{% block main_after %}
{{ block('thread_section') }}
{% endblock %}

{% block bottom_js %}
{{ block('thread_bottom_js') }}
{% endblock %}