{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% block body_class %} {{parent()}} project-edit  {% endblock %}

{# block main_attrs %} 
ng-app="ProjectEdit" 
ng-controller="ProjectEditController"
{% endblock #}

{% block main_before %} 
{% set attr = {'name':form.vars.name} %}
{% set attr = attr|merge({'novalidate':""}) %}   
{{form_start(form, {'attr':attr})}}
{% endblock %}

{% block main_after %}
{{form_widget(form._token)}}
{{form_end(form, {"render_rest":false})}}
{% endblock %}

{% block toolbar %}
    <div class="tc-breadcrumb pull-left">
        {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:projectMenu',[],{"project": project}) %}
        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

    <div class="tc-controls pull-right">
        {% set attr = {'class':''} %}
        {# set attr = attr|merge({'ng-disabled':"!offerForm.$dirty && !deliverablesForm.$dirty"}) %}   
        {% set attr = attr|merge({'disabled':""}) #}   
        {{form_widget(form.submit, {'attr':attr})}}
    </div>
{% endblock %}

{% block sheet %}
<div class="tc-project-name-section" ng-form name="nameForm">
    {{form_widget(form.name)}}
</div>

<div class="tc-objectives-section">
    
    {% for objective in project.objectives %}
        {% include 'TCCoreBundle:Project/objective' with {'objective':objective} %}
    {% endfor %}    
    
</div>
{% endblock %}

{% block bottom_js %}
{% endblock %}
    