{% block empty_dashboard %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-dashboard.gif')}}" /></div>
    <div class="title"><h3>Dashboard isn't available yet</h3></div>
    <div class="description"><p>The dashboard section will be added in a near future. 
            We'd love to hear your expectations. <a href="#feedbackModal" data-toggle="modal">Let us know</a> what information 
            you think should be part of this dashboard. Thanks for your patience!</p></div>
</div>

{% endblock %}

{% block empty_projects %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-projects.gif')}}" /></div>
    <div class="title"><h3>Projects aren't availables yet</h3></div>
    <div class="description"><p>The projects section will be added in a near future. 
            The projects will allow you to manage multiple vendors on a single project, 
            making sure the total of money spend on them fits in your project's budget. Thanks for your patience!</p></div>
</div>

{% endblock %}

{% block empty_pricebook %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-pricebook.gif')}}" /></div>
    <div class="title"><h3>Price book isn't available yet</h3></div>
    <div class="description"><p>The price book section will be added in a near future. 
            The price book will allow you to keep an history of all the deliverables you've created
            in order to reuse them on proposal creation and eventually get stats on them. (E.g.  
            What type of work has brought you the most money over the year.)</p></div>
</div>

{% endblock %}

{% block empty_relations_client %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-relations.gif')}}" /></div>
    <div class="title"><h3>No service providers yet</h3></div>
    <div class="description"><p>Please <b>add</b> your first service provider by clicking <a href="{{path('client_relation_new')}}">+ Add New</a>.</p></div>
</div>

{% endblock %}

{% block empty_relations_vendor %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-relations.gif')}}" /></div>
    <div class="title"><h3>No customer yet</h3></div>
    <div class="description"><p>Please <b>add</b> your first customer by clicking <a href="{{path('vendor_relation_new')}}">+ Add New</a>.</p></div>
</div>

{% endblock %}

{% block empty_rfps_client %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-rfps.gif')}}" /></div>
    <div class="title"><h3>No request for proposal yet</h3></div>
    <div class="description"><p>Please <b>create</b> your first request for proposal by clicking <a href="{{path('client_rfp_new', {'idRelation': relation.id})}}">+ Create New</a>.</p></div>
</div>

{% endblock %}

{% block empty_rfps_vendor %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-rfps.gif')}}" /></div>
    <div class="title"><h3>No request for proposal yet</h3></div>
    <div class="description"><p>Please wait till your customer creates his first request for proposal.</p></div>
</div>

{% endblock %}

{% block empty_orders_client %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-proposals.gif')}}" /></div>
    <div class="title"><h3>No proposals yet</h3></div>
    <div class="description"><p>First, you need to <a href="{{path('client_rfp_new', {'idRelation': relation.id})}}">create a request for proposal</a> so your service provide can make an offer.</p></div>
</div>

{% endblock %}

{% block empty_orders_vendor %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-proposals.gif')}}" /></div>
    <div class="title"><h3>No proposals yet</h3></div>
    <div class="description"><p>Please <b>create</b> your first proposal by clicking <a href="{{path('vendor_order_new', {'idRelation': relation.id})}}">+ Create New</a>.</p></div>
</div>

{% endblock %}

{% block empty_progress_client %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-progress.gif')}}" /></div>
    <div class="title"><h3>No progress to track yet</h3></div>
    <div class="description"><p>First, you need to <a href="{{path('client_relation_orders', {'idRelation': relation.id})}}">accept a proposal</a>.</p></div>
</div>

{% endblock %}

{% block empty_progress_vendor %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-progress.gif')}}" /></div>
    <div class="title"><h3>No progress to track yet</h3></div>
    <div class="description"><p>First, you need to <a href="{{path('vendor_relation_orders', {'idRelation': relation.id})}}">create a proposal</a>.</p></div>
</div>

{% endblock %}

{% block empty_bill_client %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-invoice.gif')}}" /></div>
    <div class="title"><h3>Open Bill is empty</h3></div>
    <div class="description"><p>Your vendor need to <b>complete</b> deliverables in the <a href="{{path('client_relation_progress', {'idRelation': relation.id})}}">work monitoring section</a>.</p></div>
</div>

{% endblock %}

{% block empty_bill_vendor %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-invoice.gif')}}" /></div>
    <div class="title"><h3>Open Bill is empty</h3></div>
    <div class="description"><p>Please <b>complete</b> deliverables in the <a href="{{path('vendor_relation_progress', {'idRelation': relation.id})}}">work monitoring section</a>.</p></div>
</div>

{% endblock %}

{% block empty_invoices_client %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-invoices.gif')}}" /></div>
    <div class="title"><h3>No invoices yet</h3></div>
    <div class="description"><p>First, your vendor need to <a href="{{path('client_relation_invoice', {'idRelation': relation.id})}}">close a invoice</a>.</p></div>
</div>

{% endblock %}

{% block empty_invoices_vendor %} 

<div class="tc-empty-page">
    <div class="flat-img"><img src="{{asset('/img/flat-imgs/flat-invoices.gif')}}" /></div>
    <div class="title"><h3>No invoices yet</h3></div>
    <div class="description"><p>First, your need to <a href="{{path('vendor_relation_invoice', {'idRelation': relation.id})}}">close a invoice</a>.</p></div>
</div>

{% endblock %}

