{% extends 'TCCoreBundle:Client:skeleton.html.twig' %}

{% block body_class -%}{{ parent() }} client-relations {% endblock %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
    <div class="title"><span class="icon-relations-dark-large"></span>Service Providers</div>
</div>

<div class="tc-controls pull-right">
    <a href="{{path('client_relation_new')}}" class="btn-primary btn-lg">
        <span class="icon-add-user"></span>
        Add a Person
    </a>
</div>
{% endblock %}

{% block sheet %}
<div class="tc-relations-section">

    <legend>Active Business Relationships <span>({{relations|length}})</span></legend>
    
    <div class="tc-relations-boxes row">
    {% for relation in relations %}
        <div class="col-sm-6 col-md-4  col-lg-3">
            <div class="thumbnail">
                <img class="img-rounded" src="{{vich_uploader_asset(relation.vendor.user, 'avatar') | imagine_filter('140_thumb')}}" />
                <div class="caption">
                    <h3>{{relation.vendor.getFullName() | default(relation.vendor)}} </h3>
                    <p class="pro-title"></p>
                    <p><a href="{{path('client_relation_orders',{'idRelation': relation.id})}}" class="btn btn-primary" role="button"><span class="icon-check-small"></span>View Activities</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <legend>Inactive Business Relationships <span>(0)</span></legend>
</div>
{% endblock %}