{% extends 'TCCoreBundle:Client:skeleton.html.twig' %}

{% use "TCCoreBundle:Relation:invoices.html.twig" with body_class as base_body_class %}

{% use "TCCoreBundle:Client:Relation/menu.html.twig" %}

{% block body_class %} {{parent()}} {{ block('base_body_class') }}  {% endblock %}

{# block main_before %} 
{% set attr = {'name':form.vars.name} %}
{% set attr = attr|merge({'ng-app':''}) %}
{% set attr = attr|merge({'novalidate':""}) %}   
{{form_start(form, {'attr':attr})}}
{% endblock #}

{# block main_after %}
{{form_widget(form._token)}}
{{form_end(form, {"render_rest":false})}}
{% endblock #}

{% block toolbar %}
    <div class="tc-breadcrumb pull-left">
        {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:invoicesMenu',[],{"relation": relation}) %}
           
        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

    <div class="tc-controls pull-right">
    {#
        {% set attr = {'class':''} %}
        {% set attr = attr|merge({'ng-disabled':"!"~ form.vars.name ~ ".$dirty"}) %}   
        {% set attr = attr|merge({'disabled':""}) %}   
        {% set attr = attr|merge({'ng-class': form.vars.name ~ ".$dirty && 'btn-primary'"}) %}   
        {{form_widget(form.submit, {'attr':attr})}}
    #}
    </div>
{% endblock %}

{% block sheet %}
<div class="tc-title-section">    
    <h2>Invoices</h2>
    <p>List of all the closed bills.</p>
</div>

<div class="tc-invoices-section">  
    <legend>
        Bill invoiced
        <span class="badge">{{ relation.getClosedBills()|length }}</span>
    </legend>
        
    <table  class="tc-invoices table table-hover">
        <thead>
            <tr>
                <th class="description">Description</th>
                <th class="closed-at">Date closed</th>
                <th class="total">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for bill in relation.getClosedBills() %}
            <tr class="invoice">
                <td class="description">
                    <a href="{{path('client_invoice_show',{'idBill':bill.id,'idRelation': relation.id})}}">
                        {{'Invoice #'~bill.id}}
                    </a>
                </td>
                <td class="closed-at">
                    {{ bill.getClosedAt()|date('d M ') }}
                </td>
                <td class="total">
                    $ {{bill.total|number_format(2, '.', ',')}}
                </td>
            </tr>     
        {% endfor %}
        </tbody>
    </table>
</div> 
{% endblock %}
{#block bottom_js %}
<script type="text/javascript" src="{{asset("/js/ng_order_edit.js")}}"></script>
<script type="text/javascript">
(function(ng, module){
    
    module.value("form_name", "{{form.vars.name}}");

})(angular, module);
</script>
{% endblock #}
