<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}TimeCrumbs{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <!--
        <noscript>
            <meta http-equiv="refresh" content="0;url=no-js.html" />
        </noscript>
        -->
        <link rel="stylesheet" href="{{asset('/vendor/bootstrap/dist/css/bootstrap.min.css')}}" />
        {% block head_css %}{% endblock %}        
        {% block head_js %}{% endblock %}
    </head>

    <body class="{% spaceless %}{% block body_class %}{% endblock %}{% endspaceless %}">
        {% block body %}{% endblock %}
        
        <script src="{{asset('/vendor/jquery/jquery-1.10.2.js')}}" type="text/javascript"></script>
        <script src="{{asset('/vendor/bootstrap/js/transition.js')}}" type="text/javascript"></script>   
        <script src="{{asset('/vendor/bootstrap/js/dropdown.js')}}" type="text/javascript"></script> 
        <script src="{{asset('/vendor/bootstrap/js/modal.js')}}" type="text/javascript"></script> 
        <script src="{{asset('/vendor/angular/angular.js')}}" type="text/javascript"></script>
        
        {% block bottom_js %}{% endblock %}
    </body>
</html>
