{% extends "::base.html.twig" %}

{% use 'TCCoreBundle::placeholders.html.twig' %}

{% block head_css %}

<link rel="stylesheet" href="{{asset('css/app.css')}}" />

{% endblock %}

{% block body %}

{# Feedback include. It is in fact a bootstrap modal mappedBy #feedbackModal button #}
{{ render(controller('TCFeedbackBundle:Feedback:new', { 'uri': app.request.uri })) }}

<div class="tc-menu-panel">

    
    {% block menu %}
    
        <div class="tc-user-section">
            <img class="img-circle" src="{{vich_uploader_asset(app.user, 'avatar') | imagine_filter('140_thumb')}}">
            <div class="name">{{app.user.fullName}}</div>
        </div>
    
        {% set mainMenu = knp_menu_get('TCCoreBundle:GlobalMenuBuilder:globalMenu',[],{'user':app.user}) %}
        {{ knp_menu_render(mainMenu,{}) }}
    {% endblock %}


    <div class="tc-logo">
        <a href="{{path("root")}}"><img src="/img/logo-timecrumbs-small.png" /></a>
    </div>

</div>

<div class="tc-main-panel" {% block main_attrs %}{% endblock %}>
{% block main_before %}{% endblock %}

{% block main %}
    <div class="tc-toolbar">
    {% block toolbar %}{% endblock %}        
    </div>

    <div class="tc-sheet">
    {% block sheet %}{% endblock %}
    </div>
{% endblock %}

{% block main_after %}{% endblock %}
</div>

{% endblock %}

{% block bottom_js %}
<script src="{{asset("js/feedback/feedback-module.js")}}" type="text/javascript"></script>
<script type="text/javascript">
    var globalMenuTimer;
    $(".tc-global-toggler").click(function(e){
        e.preventDefault();
        
        $globalMenu = $('.tc-global-menu');

        // Close menu after 10 seconds
        if ( $globalMenu.is(':visible') ) {
            $globalMenu.slideUp(300);
            clearTimeout(globalMenuTimer);
        } else {
            $globalMenu.slideDown(300);
            globalMenuTimer = setTimeout(function(){
                $globalMenu.slideUp(300);
            }, 10000);
        }
    });
</script>
{% endblock %}    