{% block subject %}{% endblock %}
<table bgcolor="#f4f4f4" width="700" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="30">&nbsp;</td>
        <td><div style="width: 75px; height: 75px; background-color: #FFF;"><img style="padding: 22px 0 0 21px;" src="{{ app.request.uriForPath('/../img/email/clock.png')}}" border="0" /></div>
            <div style="text-align: center; margin-bottom: 40px;">{%block title%}{%endblock%}</div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="20" height="20"></td>
                                <td></td>
                                <td width="20"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="center" style="font-family: Helvetica, Arial;">
                                    <div style="font-size: 42px; font-weight: bold; color: #333; margin-top: 30px;">{% block sub_title %}{% endblock %}</div><br />
                                    <div style="font-size: 14px; color: #999; margin-top: 15px; padding: 0 40px;">{% block body_html %}{% endblock %}</div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td height="150" colspan="3" align="center">
                                    {%block buttons %} 
                                        <table>
                                            <tr>
                                                <td>
                                                    <a href="#">
                                                        <table style="background-color: #097acb;" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td width="4" height="4"><img src="{{ app.request.uriForPath('/../img/email/corner-TL.gif')}}" border="0" /></td>
                                                                <td></td>
                                                                <td width="4" height="4"><img src="{{ app.request.uriForPath('/../img/email/corner-TR.gif')}}" border="0" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td style="padding: 15px 25px;">
                                                                    <a href="{% block button1_url %}#{%endblock%}"style="font-family: Helvetica, Arial; color: #FFF; font-weight: bold; text-decoration: none; font-size: 24px;">
                                                                        {% block button1 %}{% endblock %}</a>
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="4" height="4"><img src="{{ app.request.uriForPath('/../img/email/corner-BL.gif')}}" border="0" /></td>
                                                                    <td></td>
                                                                    <td width="4" height="4"><img src="{{ app.request.uriForPath('/../img/email/corner-BR.gif')}}" border="0" /></td>
                                                                </tr>
                                                            </table>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                    {%endblock%}
                                        </td>
                                    </tr>            
                                </table></td>
                        </tr>
                        <tr>
                        <tr>
                            <td height="50"></td>
                        </tr>
                        <tr>
                            <td align="center" style="font-size: 13px; color: #999; margin-top: 20px; font-family: Helvetica, Arial;">
                                If you wish to stop receiving notification emails, please visit <a href="#" style="color: #097acb; text-decoration: none;">notification</a> settings page.
                            </td>
                        </tr>
                        <tr>
                            <td height="50"></td>
                        </tr>
                    </table></td>
                <td width="30">&nbsp;</td>
            </tr>
        </table>
        <table width="620" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="left" height="100" valign="bottom">
                    <div style="float: left; padding: 30px;">
                        <span style="color: #aaaaaa; font-size: 11px; font-family: Arial;">&copy; 2013 <a href="http://www.timecrumbs.com/" target="_blank" style="color: #097acb; text-decoration: none;">TimeCrumbs.com</a> – Every Bit of Time Matters.</span><br />
                        <span style="color: #aaaaaa; font-size: 11px; font-family: Arial; line-height: 16px;">400, rue Montfort C.P.1, Montreal (QC) Canada, H3C 4J9</span>
                    </div>

                    <div style="float: right; padding-top: 32px; margin-right: -45px;">
                        <img src="{{ app.request.uriForPath('/../img/email/logo-timecrumbs.gif')}}" border="0" />
                    </div>
                </td>
            </tr>
        </table>