{% extends "::skeleton_email.html.twig" %}

{% block subject %}
{% autoescape false %}
{{relation.vendor.getFullName()}} just sent you a new proposal!
{% endautoescape %}
{% endblock %}

{% block title %}
{% autoescape false %}
<img src="{{ app.request.uriForPath('/img/email/title-order-ready.jpg')}}" border="0" />
{% endautoescape %}
{% endblock %}

{% block sub_title %}{% autoescape false %}
New Proposal Ready
{% endautoescape %}{% endblock %}

{% block body_html %}
{% autoescape false %}

<div style="color: #112834; padding-bottom: 20px; margin-bottom: 30px; border-bottom: 1px dashed #dededf;">
    <img src="{{app.request.uriForPath(avatar(relation.vendor.user) | imagine_filter('140_thumb'))}}" style="margin-bottom: 20px; border-radius: 50%;" /><br /> 
    <span style=" font-size: 24px; font-weight:bold;">{{relation.vendor.getFullName()}}</span> <p style="color: #2cb34f;">just sent you a new proposal that <b>needs your approbation</b>.</p>
</div>
<p>You can now go in TimeCrumbs to view & approve this proposal. <br />If something is missing or not clear, feel free to use the discussion panel <br />to discuss your concerns.</p>
{% endautoescape %}
{% endblock %}

{% block view_button %}
<a href="" 
   style="color: #097acb; text-decoration: none; font-size: 24px;">
    View Order
</a>
{% endblock %}

{% block button1 %}
View Proposal
{% endblock %}

{% block button1_url %}{% autoescape false %}
{{url('client_order_show', {'idRelation':relation.id, 'idOrder':order.id})}}
{% endautoescape %}{% endblock %}