{% extends "::skeleton_email.html.twig" %}

{% block subject %}
{% autoescape false %}
New Business Opportunity! {{relation.client.getFullName()}} Need Your Services...
{% endautoescape %}
{% endblock %}

{% block title %}
{% autoescape false %}
<img src="{{ app.request.uriForPath('/img/email/title-rfp-ready.jpg')}}" border="0" />
{% endautoescape %}
{% endblock %}

{% block sub_title %}{% autoescape false %}
New Work Opportunity
{% endautoescape %}{% endblock %}

{% block body_html %}
{% autoescape false %}
<div style="color: #112834; padding-bottom: 20px; margin-bottom: 30px; border-bottom: 1px dashed #dededf;">
    <img src="{{app.request.uriForPath(avatar(relation.vendor.user) | imagine_filter('140_thumb'))}}" style="margin-bottom: 20px; border-radius: 50%;" /><br /> 
    <span style=" font-size: 24px; font-weight:bold;">{{relation.vendor.getFullName()}}</span> <p style="color: #2cb34f;"> just <b>requested your services</b>.</p>
</div>
<p>Go in TimeCrumbs and create a new proposal responding to his/her needs. <br />If something is missing or not clear, feel free to use the discussion panel <br />to discuss your concerns.</p>
{% endautoescape %}
{% endblock %}

{% block button1 %}
View RFP
{% endblock %}

{% block button1_url %}{% autoescape false %}
{{url('vendor_rfp_show', {'idRelation':relation.id, 'idRFP':rfp.id})}}
{% endautoescape %}{% endblock %}
