{% extends 'TCCoreBundle::skeleton_vendor.html.twig' %}

{% block body_class %} {{parent()}} vendor-new  {% endblock %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
    {% set menu = knp_menu_get('TCCoreBundle:GlobalMenuBuilder:mainMenu',[],{}) %}
    {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
</div>
{% endblock %}

{% block main_attrs %} 
ng-app=""
{% endblock %}

{% block main_before %} 
{% set attr = {'id': 'createForm'} %}
{% set attr = attr|merge({'name': 'createForm'}) %}
{% set attr = attr|merge({'novalidate':""}) %}  
{% set attr = attr|merge({'ng-submit':"createForm.$valid && createForm.submit()"}) %}  
{{form_start(form, {'attr' : attr})}}
{% endblock %}

{% block main_after %}
{{form_widget(form._token)}}
{{form_end(form, {'render_rest':false})}}
{% endblock %}

{% block sheet %}
<div class="tc-relations-section">
    {{ form_errors(form, { 'global_errors': true }) }}
    <legend>Invite a New Service Providers by Email</legend>
    <h4>Grow your business by adding new services providers to TimeCrumbs.</h4>
        <div id="tc_relation_create_form">
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">@</span>
                    {% set attr = {'class': 'input-lg'} %}
                    {% set attr = attr|merge({'placeholder': "Enter your service provider's email adress" }) %}
                    {% set attr = attr|merge({'ng-required':"true"}) %}   
                    {% set attr = attr|merge({'ng-pattern':"/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$/"}) %}  
                    {% set attr = attr|merge({'ng-init':"contact.email = '"~ form.vendor.vars.value ~ "'"}) %}  
                    {% set attr = attr|merge({'ng-model':"contact.email"}) %}  
                    {{ form_widget(form.vendor, {'attr':attr}) }}
            </div>
            <div class="checkbox">
                <label for="{{ form.notify.vars.id }}">
                    {{ form_widget(form.notify, {'attr':{'checked':'checked'}}) }} I would like to notify him/her by email.
                </label>
            </div>

            <button type="submit" name="{{form.submit.vars.name}}"
                    ng-disabled="createForm.$invalid"
                    disabled=""
                    class="btn btn-primary btn-lg">
                <span class="icon-add-user"></span> Create Relationship
            </button>

        </div>
</div>
{% endblock %}





