{% extends 'TCCoreBundle::skeleton_vendor.html.twig' %}

{% use "TCCoreBundle:Relation:relation_bill_base.html.twig" with body_class as base_body_class %}

{% use "TCCoreBundle:Relation:relation_menu_vendor.html.twig" %}

{% block body_class %} {{parent()}} {{ block('base_body_class') }}  {% endblock %}

{% block main_before %} 
{% set attr = {'name':form.vars.name} %}
{# set attr = attr|merge({'ng-app':''}) %}
{% set attr = attr|merge({'novalidate':""}) #}   
{{form_start(form, {'attr':attr})}}
{% endblock %}

{% block main_after %}
{{form_widget(form._token)}}
{{form_end(form, {"render_rest":false})}}
{% endblock %}

{% block toolbar %}
    <div class="tc-breadcrumb pull-left">
    {% set menu = knp_menu_get('TCCoreBundle:VendorMenuBuilder:billMenu',[],{"relation": relation}) %}

    {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

    <div class="tc-controls pull-right"> 
     {% if form.deliverables is not empty %}
        {% set attr = {'class':'btn btn-lg btn-primary'} %}
        {# set attr = attr|merge({'ng-disabled':"!"~ form.vars.name ~ ".$dirty"}) %}   
        {% set attr = attr|merge({'disabled':""}) %}   
        {% set attr = attr|merge({'ng-class': form.vars.name ~ ".$dirty && 'btn-primary'"}) #}  
        {{form_widget(form.submit, {'attr':attr})}}  
    {% endif %}
    </div>
{% endblock %}

{% block sheet %}
{% if form.deliverables is empty %}
    {{block('empty_bill_vendor')}}

{% else %}
<div class="tc-bill-section">
    <table  class="tc-table table">
        <thead>
            <tr>
                <th></th>
                <th class="left">Description</th>
                <th>Unit price</th>
                <th>Qty</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% set total = 0 %}
            {% for deliverable in deliverables %}
            {% set total = total + deliverable.total %}          
                <tr>
                    <td class="tc-actions-col">
                        <div class="checkbox-item">
                            <input type="checkbox" 
                                   id="deliverable_{{deliverable.id}}"
                                   name="{{form.deliverables.vars.full_name}}[]"
                                   value="{{deliverable.id}}"/>
                            <label for="deliverable_{{deliverable.id}}"></label>
                        </div>
                    </td>
                    <td class="tc-description-col">
                        <div class="title"><a href="{{path("vendor_order_show",{'idOrder':deliverable.order.id,'idRelation':relation.id})}}">{{deliverable.name}}</a></div>
                        <div class="main-description"><b>Completed</b> on {{deliverable.getCompletedAt()|date('F dS Y')}}</div>
                    
                    </td>
                    <td class="tc-info-col tc-unitprice-col">
                        $ {{deliverable.cost|number_format(2, '.', ',')}}
                    </td>
                    <td class="tc-info-col tc-quantity-col">
                        {{deliverable.quantity}}
                    </td>
                    <td class="tc-info-col tc-subtotal-col">
                        $ {{deliverable.total|number_format(2, '.', ',')}}
                    </td>
                    
                </tr>
            {% endfor %}
        
        </tbody>
    </table>
    
    <div class="tc-total-price">
        <div class="split"></div>
        <div class="split"></div>
        <div class="total-label">Total : </div>
        <div class="price">
            $ {{total|number_format(2, '.', ',')}}
        </div>
    </div>
</div> 
{% endif %}

{% endblock %}