{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% use "TCCoreBundle:Relation:relation_bill_base.html.twig" with body_class as base_body_class %}

{% use "TCCoreBundle:Relation:relation_menu_client.html.twig" %}

{% block body_class %} {{parent()}} {{ block('base_body_class') }}  {% endblock %}

{% block toolbar %}
    <div class="tc-breadcrumb pull-left">
        {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:billMenu',[],{"relation": relation}) %}           
        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

    <div class="tc-controls pull-right"></div>
{% endblock %}
    
    

{% block sheet %}
{% if bill.deliverables is empty %}
    {{block('empty_bill_client')}}

{% else %}
<div class="tc-bill-section">

    <table  class="tc-table table">
        <thead>
            <tr>
                <th></th>
                <th class="left">Description</th>
                <th>Unit price</th>
                <th>Qty</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for deliverable in bill.deliverables() %}                
                <tr>
                    <td class="tc-actions-col">
                        {#
                        <div class="checkbox-item">
                            <input type="checkbox" value="None" checked id="checkbox-item1" name="check" />
                            <label for="checkbox-item1"></label>
                        </div>
                        #}
                    </td>
                    <td class="tc-description-col">
                        <div class="title"><a href="{{path("client_order_show",{'idOrder':deliverable.order.id,'idRelation':relation.id})}}">{{deliverable.name}}</a></div>
                        <div class="main-description"><b>Completed</b> on {{deliverable.getCompletedAt()|date('F dS Y')}}</div>
                    
                    </td>
                    <td class="tc-info-col tc-unitprice-col">
                        $ {{deliverable.cost|number_format(2, '.', ',')}}
                    </td>
                    <td class="tc-info-col tc-quantity-col">
                        {{deliverable.quantity}}
                    </td>
                    <td class="tc-info-col tc-subtotal-col">
                        $ {{deliverable.total|number_format(2, '.', ',')}}
                    </td>
                    
                </tr>
            {% endfor %}
        
        </tbody>
    </table>
    
    <div class="tc-total-price">
        <div class="split"></div>
        <div class="split"></div>
        <div class="total-label">Total : </div>
        <div class="price">
            $ {{bill.getTotal()|number_format(2, '.', ',')}}
        </div>
    </div>
</div> 
{% endif %}

{% endblock %}