{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% block body_class %} {{parent()}} relation-rfps  {% endblock %}

{% use "TCCoreBundle:Relation:relation_menu_client.html.twig" %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
        {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:rfpsMenu',[],{"relation": relation}) %}
        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

    <div class="tc-controls pull-right">
        <a href="{{path('client_rfp_new', {'idRelation':relation.id})}}" 
           class="btn btn-primary btn-lg">
            <i class="icon-new-proposals-light-small"></i>
            New Request for Proposal
        </a>
    </div>

{% endblock %}

{% block sheet %}

{% if rfps is empty %}
    {{block('empty_rfps_client')}}

{% else %}

    <div class="tc-rfps-section">      
        <table class="tc-rfps table tc-table">
            <thead>
                <tr>
                <th class="tc-rfp-heading-col"></th>
                <th class="tc-proposal-col"></th>
                </tr>
            </thead>
            <tbody>
            {% for rfp in relation.rfps %}
                    <tr>
                        <td class="tc-rfp-heading-col">
                            <a href="{{path("client_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}">
                                {{rfp.heading|default('rfp')}}
                            </a>
                        </td>
                        
                        <td class="tc-proposal-col">          
                            {% if rfp.order is not null and rfp.order.ready %}
                            <a href="{{path("client_order_show",{'idOrder':rfp.order.id,'idRelation':relation.id})}}">
                                View proposal
                            </a>
                            {% endif %}
                        </td>
                    </tr>    
            {% endfor %}
                    </tbody>
                </table>
            </div> 
{% endif %}
{% endblock %}
