{% extends 'TCCoreBundle::skeleton_vendor.html.twig' %}

{% block body_class %} {{parent()}} relation-orders  {% endblock %}

{% use "TCCoreBundle:Relation:relation_menu_vendor.html.twig" %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
    {% set menu = knp_menu_get('TCCoreBundle:VendorMenuBuilder:ordersMenu',[],{"relation": relation}) %}
    {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
</div>

<div class="tc-controls pull-right">
    <a href="{{path('vendor_order_new', {'idRelation':relation.id})}}" 
       class="btn btn-primary btn-lg">
        <i class="icon-new-proposals-light-sm"></i>
        New Proposal
    </a>
</div>
{% endblock %}

{% block sheet %}

{% if orders is empty %}
    {{block('empty_orders_vendor')}}
{% else %}

    <div class="tc-orders-section"> 
        
        <div class="tc-filters">
        
            <div class="btn-group tc-filters-buttons" data-toggle="buttons">
              <label class="btn btn-default active"><input type="radio" name="options" id="option3">All</label>
              <label class="btn btn-default"><input type="radio" name="options" id="option1">Draft</label>
              <label class="btn btn-default"><input type="radio" name="options" id="option2">Sent</label>
              <label class="btn btn-default"><input type="radio" name="options" id="option3">Approved</label>
            </div>
            
            <div class="tc-filters-label">&</div>
            
            <div class="btn-group tc-filters-buttons" data-toggle="buttons">
              <label class="btn btn-default active"><input type="radio" name="options" id="option3">Active</label>
              <label class="btn btn-default"><input type="radio" name="options" id="option1">Cancelled</label>
            </div>
            
        </div>
        
        <table class="tc-table table">
            <thead>
                <tr>
                    <th class="left tc-left-gap">Description</th>
                    <th>Discussion</th>
                    <th>Status</th>
                    <th>Subtotal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}            
                <tr class="{{order|status}}">
                    <td class="tc-description-col tc-left-gap">
                        <div class="title">
                            <a href="{{path("vendor_order_show",{'idOrder':order.id,'idRelation':relation.id})}}">
                                {{order.heading|default('proposal')}}
                            </a>
                        </div>
                        <div class="main-description"><b>Created</b> on {{order.getCreatedAt()|date('F dS Y')}}</div>
                    </td>
                    
                    <td class="tc-discussion-col">
                        <a href="{{path("vendor_order_show",{'idOrder':order.id,'idRelation':relation.id})}}">
                            <div class="badge-talk-bubble">
                                {{order.thread.getNumComments()}}
                            </div>
                        </a>
                    </td>
                    
                    <td class="tc-status tc-status-col tc-status-3-items">
                        <ul class="tc-status"> 
                            {# Draft State #}
                            <li class="tc-draft-state tc-state">
                                <a href="{{path("vendor_order_show",{'idOrder':order.id,'idRelation':relation.id})}}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </li>
                            {# Sent State #}
                            <li class="tc-sent-state tc-state">
                                <a href="{{path("vendor_order_show",{'idOrder':order.id,'idRelation':relation.id})}}">
                                    <span class="glyphicon glyphicon-send"></span>
                                </a>
                            </li>
                            {# Proposed State #}
                            <li class="tc-closed-state tc-state">
                                <a href="{{path("vendor_order_show",{'idOrder':order.id,'idRelation':relation.id})}}">
                                    {% if order.approved %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                    {% elseif order.declined %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </td>
                    
                    <td class="tc-info-col tc-subtotal-col">
                    {% if order.total is not null%} 
                            $ {{order.total|number_format(2, '.', ',')}} 
                    {% else %}
                            N/A
                    {% endif %}
                    </td>
                    <td class="tc-multiactions-col">
                        <div class="dropdown">
                            <a class="btn btn-default btn-sm" data-toggle="dropdown" data-target="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="{{path("vendor_order_show", {'idRelation':relation.id, 'idOrder':order.id})}}">
                                        View
                                    </a>
                                </li>
                            
                                {% if is_editable(order) %}
                                <li>
                                    <a href="{{path("vendor_order_edit", {'idRelation':relation.id, 'idOrder':order.id})}}">
                                        Edit
                                    </a>
                                </li>
                                {% endif %}            

                                {% if is_sendable(order) %}
                                <li>
                                    <a href="{{path('vendor_order_send' , {'idOrder':order.id, 'idRelation': relation.id})}}">
                                        Send
                                    </a>
                                </li>
                                {% endif %} 

                                {% if is_cancellable(order) %}
                                <li>
                                    <a href="{{path("vendor_order_cancel", {'idRelation':relation.id, 'idOrder':order.id})}}">
                                        Cancel
                                    </a>
                                </li>
                                {% endif %}

                                {% if is_reopenable(order) %}
                                <li>
                                    <a href="{{path("vendor_order_reopen", {'idRelation':relation.id, 'idOrder':order.id})}}">
                                        Reopen
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>     
            {% endfor %}
            </tbody>
        </table>
        
        <div class="tc-total-price">
            <div class="split"></div>
            <div class="split"></div>
            <div class="total-label">Total</div>
            <div class="price">$ 170.00</div>
        </div>
    </div> 
{% endif %}
{% endblock %}
