{% extends 'TCCoreBundle::skeleton_vendor.html.twig' %}

{% block body_class %} {{parent()}} relation-orders  {% endblock %}

{% use "TCCoreBundle:Relation:relation_menu_vendor.html.twig" %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
        {% set menu = knp_menu_get('TCCoreBundle:VendorMenuBuilder:ordersMenu',[],{"relation": relation}) %}
        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

    <div class="tc-controls pull-right">
        <a href="{{path('vendor_order_new', {'idRelation':relation.id})}}" 
           class="btn btn-primary btn-lg">
            <i class="icon-new-proposals-light-small"></i>
            New Proposal
        </a>
    </div>
{% endblock %}

{% block sheet %}

{% if orders is empty %}
    {{block('empty_orders_vendor')}}

{% else %}
    <div class="tc-orders-section">  
        <table  class="tc-table table">
            <thead>
                <tr>
                    <th></th>
                    <th class="left">Description</th>
                    <th>Comments</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}            
                    <tr>
                        <td class="tc-actions-col">
                            <div class="checkbox-item">
                                <input type="checkbox" value="None" id="checkbox-item1" name="check" />
                                <label for="checkbox-item1"></label>
                            </div>
                        </td>
                        <td class="tc-description-col">
                            <div class="title">
                                <a href="{{path("vendor_order_show",{'idOrder':order.id,'idRelation':relation.id})}}">
                                    {{order.heading|default('proposal')}}
                                    </a>
                                </div>
                                <div class="main-description"><b>Created</b> on September 16th 2013</div>
                                <div class="sub-description hide"><b>Approved</b> on September 16th 2013 </div>
                            </td>
                            <td class="tc-discussion-col">
                                <div class="badge-talk-bubble">
                        {{order.thread.getNumComments()}}
                                    </div>
                                </td>
                                <td class="tc-info-col tc-subtotal-col">
                    {% if order.total is not null%} $ {{order.total|number_format(2, '.', ',')}} {% else %} N/A {% endif %}
                                    </td>
                                </tr>     
            {% endfor %}
                            </tbody>
                        </table>
                    </div> 
{% endif %}
{% endblock %}
