{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% block body_class -%}{{ parent() }} client-relations {% endblock %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
    {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:mainMenu',[],{}) %}
    {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
</div>

<div class="tc-controls pull-right">
    <a href="{{path('client_relation_new')}}" class="btn btn-primary btn-lg">
        <span class="icon-add-user"></span>
        Add New
    </a>
</div>
{% endblock %}

{% block sheet %}
<div class="tc-relations-section">

    <legend>My Active Vendors</legend>

    <div class="tc-relations-boxes">
    {% for relation in relations %} 

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div class="hover">
                        <a class="btn btn-success btn-lg request-services" role="button"
                           href="{{path('client_relation_rfps',{'idRelation': relation.id})}}">
                            Request Services
                        </a>
                        <div class="or"></div>
                        <a class="btn btn-success btn-lg view-activities" role="button"
                           href="{{path('client_relation_progress',{'idRelation': relation.id})}}">
                            View Activities
                        </a>
                    </div>
                    <!-- Ajouter la class « tc-relation-active-badge » lorsqu'il y au moins 1 élément de notification. -->
                    <div class="badge tc-relation-badge">0</div>
                    <img class="img-circle" src="{{vich_uploader_asset(relation.vendor.user, 'avatar') | imagine_filter('140_thumb')}}" />
                    <div class="caption">

                    {% if relation.vendor.getFirstName() and relation.vendor.getLastName() %}
                        <h3>{{relation.vendor.getFirstName()}} <br /> 
                            <small>{{relation.vendor.getLastName()}}</small>
                        </h3>
                    {% else %}
                        <h3>{{relation.vendor.getEmail()}} <br /> 
                            <small>Pending registration</small>
                        </h3>
                    {% endif %}
                    </div>
                    <div class="tc-user-progress">
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>

    {% endfor %}

        </div>

    {# Not for BETA
    <legend>Inactive Business Relationships <span>(0)</span></legend>
    #}
    </div>

    <div class="none">
        {% use "TCCoreBundle::empty.html.twig" %}
        {{ block('empty_relations_client') }}
        </div>


{% endblock %}