{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% block body_class %} {{parent()}} relation-rfps  {% endblock %}

{% use "TCCoreBundle:Relation:relation_menu_client.html.twig" %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
    {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:rfpsMenu',[],{"relation": relation}) %}
    {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
</div>

<div class="tc-controls pull-right">
    <a href="{{path('client_rfp_new', {'idRelation':relation.id})}}" 
       class="btn btn-primary btn-lg">
        <i class="icon-new-proposals-light-small"></i>
        Create New
    </a>
</div>
{% endblock %}

{% block sheet %}

{% if rfps is empty %}
    {{block('empty_rfps_client')}}

{% else %}
<div class="tc-rfps-section">      
    <table class="tc-table table">
        <thead>
            <tr>
                <th></th>
                <th>Discussion</th>
                <th>Status</th>
                <th style="width:50px;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rfp in relation.rfps %}
                <tr class="{{rfp|status}}">
                <td class="tc-description-col">
                    <div class="title">
                        <a href="{{path("client_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}">
                            {{rfp.heading|default('rfp')}}
                        </a>
                    </div>
                    <div class="main-description"><b>Created</b> on {{rfp.getCreatedAt()|date('F dS Y')}}</div>
                </td>
                <td class="tc-discussion-col">
                    <a href="{{path("client_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}"><div class="badge-talk-bubble">
                    {{rfp.thread.getNumComments()}}
                    </div></a>
                </td>
                <td class="tc-status-col">
                    <ul class="tc-status"> 
                        {# Draft State #}
                        <li class="tc-draft-state tc-state">
                            <a href="{{path("client_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}">
                                Draft
                            </a>
                        </li>
                        {# Sent State #}
                        <li class="tc-sent-state tc-state">
                            <a href="{{path("client_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}">
                                Sent
                            </a>
                        </li>
                        {# Proposed State #}
                        <li class="tc-proposed-state tc-state">
                            <a href="{{path("client_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}">
                                Proposed
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-default" data-toggle="dropdown" data-target="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="{{path("client_rfp_show", {'idRelation':relation.id, 'idRFP':rfp.id})}}">View</a></li>
                            {% if rfp.cancelled != true or (rfp.order is not null and rfp.order.approved == true) %}
                            <li><a href="{{path("client_rfp_edit", {'idRelation':relation.id, 'idRFP':rfp.id})}}">Edit</a></li>
                            {% endif %}
                            {% if rfp.cancelled != true %}
                            <li><a href="{{path("client_rfp_cancel", {'idRelation':relation.id, 'idRFP':rfp.id})}}">Cancel</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>    
        {% endfor %}
        </tbody>
    </table>
</div> 
{% endif %}
{% endblock %}
            
{% block bottom_js %}
{{parent()}}
{% endblock %}