{% extends 'TCCoreBundle::skeleton_vendor.html.twig' %}

{% block body_class %} {{parent()}} relation-orders  {% endblock %}

{% use "TCCoreBundle:Relation:relation_menu_vendor.html.twig" %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
        {% set menu = knp_menu_get('TCCoreBundle:VendorMenuBuilder:ordersMenu',[],{"relation": relation}) %}
        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

    <div class="tc-controls pull-right">
        <a href="{{path('vendor_order_new', {'idRelation':relation.id})}}" 
           class="btn btn-primary btn-lg">
            <i class="icon-new-proposals-light-small"></i>
            New Proposal
        </a>
    </div>
{% endblock %}

{% block sheet %}

{% if orders is empty %}
    {{block('empty_orders_vendor')}}

{% else %}
    <div class="tc-orders-section">  
        <table class="tc-table table">
            <thead>
                <tr>
                    <th></th>
                    <th>Discussion</th>
                    <th>Status</th>
                    <th>Subtotal</th>
                    <th style="width:50px;">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}            
                <tr class="{{order|status}}">
                    <td class="tc-description-col">
                        <div class="title">
                            <a href="{{path("vendor_order_show",{'idOrder':order.id,'idRelation':relation.id})}}">
                                {{order.heading|default('proposal')}}
                            </a>
                        </div>
                        <div class="main-description"><b>Created</b> on September 16th 2013</div>
                        <div class="sub-description hide"><b>Approved</b> on September 16th 2013 </div>
                    </td>
                    
                    <td class="tc-discussion-col">
                        <div class="badge-talk-bubble">
                        {{order.thread.getNumComments()}}
                        </div>
                    </td>
                    
                    <td class="tc-status tc-status-col">
                        <ul class="tc-status"> 
                            {# Draft State #}
                            <li class="tc-draft-state tc-state">
                                <a href="{{path("vendor_order_show",{'idOrder':order.id,'idRelation':relation.id})}}">
                                    Draft
                                </a>
                            </li>
                            {# Sent State #}
                            <li class="tc-sent-state tc-state">
                                <a href="{{path("vendor_order_show",{'idOrder':order.id,'idRelation':relation.id})}}">
                                    Sent
                                </a>
                            </li>
                            {# Proposed State #}
                            <li class="tc-proposed-state tc-state">
                                <a href="{{path("vendor_order_show",{'idOrder':order.id,'idRelation':relation.id})}}">
                                    {% if order.approved %}
                                        Approved
                                    {% elseif order.refused %}
                                        Declined
                                    {% else %}
                                        Proposed
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </td>
                    
                    <td class="tc-info-col tc-subtotal-col">
                    {% if order.total is not null%} 
                            $ {{order.total|number_format(2, '.', ',')}} 
                    {% else %}
                            N/A
                    {% endif %}
                    </td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-default" data-toggle="dropdown" data-target="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="{{path("vendor_order_show", {'idRelation':relation.id, 'idOrder':order.id})}}">
                                        View
                                    </a>
                                </li>
                                {% if order.approved != true %}
                                <li>
                                    <a href="{{path("vendor_order_edit", {'idRelation':relation.id, 'idOrder':order.id})}}">
                                        Edit
                                    </a>
                                </li>
                                {% endif %}
                                {% if order.refused == false and order.cancelled == false %}
                                <li>
                                    <a href="{{path("vendor_order_cancel", {'idRelation':relation.id, 'idOrder':order.id})}}">
                                        Cancel
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>     
            {% endfor %}
            </tbody>
        </table>
    </div> 
{% endif %}
{% endblock %}
