{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% block body_class %} {{parent()}} relation-rfps  {% endblock %}

{% use "TCCoreBundle:Relation:relation_menu_vendor.html.twig" %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
        {% set menu = knp_menu_get('TCCoreBundle:VendorMenuBuilder:rfpsMenu',[],{"relation": relation}) %}
        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

{% endblock %}

{% block sheet %}

{% if rfps is empty %}
    {{block('empty_rfps_vendor')}}

{% else %}
<div class="tc-rfps-section">      
    <table class="tc-table table">
        <thead>
            <tr>
                <th class="left tc-left-gap">Description</th>
                <th>Discussion</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for rfp in rfps %} 
                <tr class="{{rfp|status}}">
                <td class="tc-description-col tc-left-gap">
                    <div class="title">
                        <a href="{{path("vendor_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}">
                            {{rfp.heading|default('rfp')}}
                        </a>
                    </div>
                    <div class="main-description"><b>Created</b> on {{rfp.getCreatedAt()|date('F dS Y')}}</div>
                 </td>
                <td class="tc-discussion-col">
                    <a href="{{path("vendor_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}"><div class="badge-talk-bubble">
                    {{rfp.thread.getNumComments()}}
                    </div></a>
                </td>
                <td class="tc-status tc-status-col tc-status-2-items">
                    <ul class="tc-status"> 
                        {# Sent State #}
                        <li class="tc-sent-state tc-state">
                            <a href="{{path("client_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}">
                                <div class="tc-icon-discussion-lt-sm"></div>
                            </a>
                        </li>
                        {# Proposed State #}
                        <li class="tc-closed-state tc-state">
                            <a href="{{path("client_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}">
                                <div class="glyphicon glyphicon-ok"></div>
                            </a>
                        </li>
                    </ul>
                </td>

                <td class="tc-multiactions-col">
                    <div class="dropdown">
                        <a class="btn btn-default btn-sm tc-btn-dropdown" data-toggle="dropdown" data-target="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="{{path("vendor_rfp_show", {'idRelation':relation.id, 'idRFP':rfp.id})}}">
                                    View
                                </a>
                            </li>
                            
                            {% if is_declinable(rfp) %}
                            <li>
                                <a href="{{path("vendor_rfp_decline", {'idRelation':relation.id, 'idRFP':rfp.id})}}">
                                    Decline
                                </a>
                            </li>
                            {% endif %}
                                
                            {% if is_reopenable(rfp) %}
                            <li>
                                <a href="{{path("vendor_rfp_reopen", {'idRelation':relation.id, 'idRFP':rfp.id})}}">
                                    Reopen
                                </a>
                            </li>
                            {% endif %}
                                
                        </ul>
                    </div>
                </td>
            </tr>    
        {% endfor %}
        </tbody>
    </table>
</div> 
{% endif %}
{% endblock %}
