{% extends 'TCCoreBundle::skeleton_vendor.html.twig' %}

{% use "TCCoreBundle:Relation:relation_invoices_base.html.twig" with body_class as base_body_class %}

{% use "TCCoreBundle:Relation:relation_menu_vendor.html.twig" %}

{% block body_class %} {{parent()}} {{ block('base_body_class') }}  {% endblock %}

{# block main_before %} 
{% set attr = {'name':form.vars.name} %}
{% set attr = attr|merge({'ng-app':''}) %}
{% set attr = attr|merge({'novalidate':""}) %}   
{{form_start(form, {'attr':attr})}}
{% endblock #}

{# block main_after %}
{{form_widget(form._token)}}
{{form_end(form, {"render_rest":false})}}
{% endblock #}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
        {% set menu = knp_menu_get('TCCoreBundle:VendorMenuBuilder:invoicesMenu',[],{"relation": relation}) %}

        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

    <div class="tc-controls pull-right">
    {#
        {% set attr = {'class':''} %}
        {% set attr = attr|merge({'ng-disabled':"!"~ form.vars.name ~ ".$dirty"}) %}   
        {% set attr = attr|merge({'disabled':""}) %}   
        {% set attr = attr|merge({'ng-class': form.vars.name ~ ".$dirty && 'btn-primary'"}) %}   
        {{form_widget(form.submit, {'attr':attr})}}
    #}
        </div>
{% endblock %}

{% block sheet %}
        <div class="tc-invoices-section">  

            <table  class="tc-table tc-invoices table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="left">Description</th>
                        <th>Status</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
        {% for bill in relation.getClosedBills() %}
            <tr class="invoice">
                <td class="description">
                    <a href="{{path('vendor_invoice_show',{'idBill':bill.id,'idRelation': relation.id})}}">
                        {{'Invoice #'~bill.id}}
                    </a>
                </td>
                <td class="closed-at">
                    {{ bill.getClosedAt()|date('d M ') }}
                </td>
                <td class="total">
                    $ {{bill.total|number_format(2, '.', ',')}}
                </td>
            </tr>     
        {% endfor %}
            
            <tr>
                <td class="tc-number-col tc-info-col">0001</td>
                <td class="tc-description-col">
                    <div class="title"><a href="#">Courses Upload + Small modifications</a></div>
                    <div class="main-description"><b>Closed</b> on September 30th 2013</div>
                    <div class="sub-description hide"></div>
                </td>

                <td class="tc-status tc-status-col tc-status-3-items">
                    <ul class="tc-status"> 
                        {# Draft State #}
                        <li class="tc-draft-state tc-state">
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        </li>
                        {# Sent State #}
                        <li class="tc-sent-state tc-state">
                            <a href="#"><span class="glyphicon glyphicon-send"></span></a>
                        </li>
                        {# Proposed State #}
                        <li class="tc-closed-state tc-state">
                            <a href="#"><div class="glyphicon glyphicon-usd"></div></a>
                        </li>
                    </ul>
                </td>
                <td class="tc-info-col tc-subtotal-col">
                    $ 800
                </td>
            </tr>

                </tbody>
            </table>
        </div> 
{% endblock %}
{#block bottom_js %}
<script type="text/javascript" src="{{asset("/js/ng_order_edit.js")}}"></script>
<script type="text/javascript">
(function(ng, module){
    
    module.value("form_name", "{{form.vars.name}}");

})(angular, module);
</script>
{% endblock #}
