{% extends 'TCCoreBundle::skeleton_vendor.html.twig' %}

{% block body_class -%}{{ parent() }} vendor-relations {% endblock %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
    {% set menu = knp_menu_get('TCCoreBundle:VendorMenuBuilder:mainMenu',[],{}) %}
    {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
</div>

<div class="tc-controls pull-right">
    <a href="{{path('vendor_relation_new')}}" class="btn btn-primary btn-lg">
        <span class="icon-add-user"></span>
        Add New
    </a>
</div>
{% endblock %}

{% block sheet %}

{% if relations is empty %}
    {{block('empty_relations_vendor')}}

{% else %}  
<div class="tc-relations-section">

    <legend>My Active Clients</legend>

    <div class="tc-relations-boxes">
    {% for relation in relations %}

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div class="hover">
                        <a class="btn btn-success btn-lg propose-services" role="button"
                           href="{{path('vendor_relation_orders',{'idRelation': relation.id})}}">
                            <span class="icon-new-proposals-light-small"></span> Propose Services
                        </a>
                        <div class="or"></div>
                        <a class="btn btn-success btn-lg view-activities" role="button"
                           href="{{path('vendor_relation_progress',{'idRelation': relation.id})}}">
                            <span class="icon-progress-lt-sm"></span> View Activities
                        </a>
                    </div>
                    <!-- Ajouter la class « tc-relation-active-badge » lorsqu'il y au moins 1 élément de notification. -->
                    <div class="badge tc-relation-badge">0</div>
                    <img class="img-circle" src="{{vich_uploader_asset(relation.client.user, 'avatar') | imagine_filter('140_thumb')}}" />
                    <div class="caption">

                    {% if relation.client.getFirstName() and relation.client.getLastName() %}
                        <h3>{{relation.client.getFirstName()}} <br /> 
                            <small>{{relation.client.getLastName()}}</small>
                        </h3>
                    {% else %}
                        <h3>{{relation.client.getEmail()}} <br /> 
                            <small>Pending registration</small>
                        </h3>
                    {% endif %}
                    </div>
                    <div class="tc-user-progress">
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    {% endfor %}
        </div>

    {# Not for BETA
    <legend>Inactive Business Relationships <span>(0)</span></legend>
    #}
    </div>
{% endif %} 
{% endblock %}