{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% block body_class %} {{parent()}} relation-rfps  {% endblock %}

{% use "TCCoreBundle:Relation:relation_menu_vendor.html.twig" %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
        {% set menu = knp_menu_get('TCCoreBundle:VendorMenuBuilder:rfpsMenu',[],{"relation": relation}) %}
        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

{% endblock %}

{% block sheet %}

{% if rfps is empty %}
    {{block('empty_rfps_vendor')}}

{% else %}
<div class="tc-rfps-section">      
    <table class="tc-table table">
        <thead>
            <tr>
                <th></th>
                <th>Discussion</th>
                <th>Status</th>
                <th style="width:50px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for rfp in rfps %}
            <tr>
                <td class="tc-description-col">
                    <div class="title">
                        <a href="{{path("vendor_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}">
                            {{rfp.heading|default('rfp')}}
                        </a>
                    </div>
                        <div class="main-description"><b>Created</b> on {{rfp.getCreatedAt()|date('F dS Y')}}</div>
                        <div class="sub-description hide"><b>Approved</b> on {{rfp.getCreatedAt()|date('F dS Y')}}</div>
                </td>
                <td class="tc-discussion-col">
                    <a href="{{path("vendor_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}"><div class="badge-talk-bubble">
                    {{rfp.thread.getNumComments()}}
                    </div></a>
                </td>
                <td class="tc-status tc-status-col">
                    <ul>
                        <!-- Si c'est en draft ou sent, ajouter la classe .inprocess -->
                        <li><a href="{{path("vendor_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}">Draft</a></li>
                        <li><a href="{{path("vendor_rfp_show",{'idRFP':rfp.id,'idRelation':relation.id})}}">Sent</a></li>
                        {% if rfp.order is not null %}
                        <!-- Si c'est approuver utiliser la classe .active sinon, .declined -->
                        <li><a href="{{path("vendor_order_show",{'idOrder':rfp.order.id,'idRelation':relation.id})}}" class="active">Proposed</a></li>
                        {% else %}
                        <li><a href="#">Proposed</a></li>
                        {% endif %}
                    </ul>
                </td>

                <td>
                    <div class="dropdown">
                        <a class="btn btn-default" data-toggle="dropdown" data-target="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="{{path("vendor_rfp_show", {'idRelation':relation.id, 'idRFP':rfp.id})}}">
                                    View
                                </a>
                            </li>
                            {% if rfp.refused != true %}
                            <li>
                                <a href="{{path("vendor_rfp_refuse", {'idRelation':relation.id, 'idRFP':rfp.id})}}">
                                    Refuse
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>    
        {% endfor %}
        </tbody>
    </table>
</div> 
{% endif %}
{% endblock %}
