{% extends 'TCCoreBundle::skeleton_vendor.html.twig' %}

{% use "TCCoreBundle:Relation:relation_bill_base.html.twig" with body_class as base_body_class %}

{% use "TCCoreBundle:Relation:relation_menu_vendor.html.twig" %}

{% block body_class %} {{parent()}} {{ block('base_body_class') }}  {% endblock %}

{% block main_before %} 
{% set attr = {'name':form.vars.name} %}
{# set attr = attr|merge({'ng-app':''}) %}
{% set attr = attr|merge({'novalidate':""}) #}   
{{form_start(form, {'attr':attr})}}
{% endblock %}

{% block main_after %}
{{form_widget(form._token)}}
{{form_end(form, {"render_rest":false})}}
{% endblock %}

{% block toolbar %}
    <div class="tc-breadcrumb pull-left">
    {% set menu = knp_menu_get('TCCoreBundle:VendorMenuBuilder:billMenu',[],{"relation": relation}) %}

    {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

    <div class="tc-controls pull-right">
    {% set attr = {'class':''} %}
    {# set attr = attr|merge({'ng-disabled':"!"~ form.vars.name ~ ".$dirty"}) %}   
    {% set attr = attr|merge({'disabled':""}) %}   
    {% set attr = attr|merge({'ng-class': form.vars.name ~ ".$dirty && 'btn-primary'"}) #}   

     {% if relation.openBill.deliverables.count() <= 0 %}
        {% set attr = attr|merge({'disabled':""}) %}   
    {% endif %}

    {{form_widget(form.submit, {'attr':attr})}}   
    </div>
{% endblock %}