{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% use "TCCoreBundle:Relation:relation_progress_base.html.twig" with body_class as base_body_class %}

{% use "TCCoreBundle:Relation:relation_menu_client.html.twig" %}

{% block body_class %} {{parent()}} {{ block('base_body_class') }}  {% endblock %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
        {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:progressMenu',[],{"relation": relation}) %}
        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

    <div class="tc-controls pull-right">
    </div>
{% endblock %}

{% block sheet %}

{% if deliverables is empty %}
    {{block('empty_progress_client')}}

{% else %}
<div class="tc-progress-section">
    <table class="table tc-table">

        <thead>
            <tr>
                <th class="left tc-left-gap">Description</th>
                <th>Work Progression</th>
                <th>Due Date</th>
            </tr>
        </thead>

        <tbody>
            {% for deliverable in deliverables %}
            <tr>
                <td class="tc-description-col tc-left-gap">
                    <div class="title">
                        <a href="{{path('client_order_show',{'idRelation': relation.id, 'idOrder': deliverable.order.id})}}">
                            {{deliverable.name}}
                        </a>
                    </div>
                    <div class="main-description"><b>Purchased</b> on {{deliverable.order.getApprovedAt()|date("F jS Y")}}</div>
                    <div class="sub-description hide">{{deliverable.order.heading}}</div>
                </td>
                <td class="tc-progressbar-col">                    
                    <div class="progress progress-striped">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{deliverable.progress~'%'}}">
                            <div class="progress-label">$ {{(deliverable.cost *  deliverable.progress / 100)|number_format(2, '.', ',')}}</div>
                        </div>
                        <div class="total-value">$ {{deliverable.cost|number_format(2, '.', ',')}}</div>
                    </div>
                </td>
                <td class="tc-date-col tc-info-col">
                    {% if deliverable.getDueAt() is not null %}
                        {{deliverable.getDueAt()|date("Y/m/d")}}
                    {% else %}
                        <span class="tc-novalue">Undetermined</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
{% endif %}
{% endblock %}
