{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% use "TCCoreBundle:Relation:relation_menu_client.html.twig" %}

{% block body_class %} {{parent()}} invoice-show  {% endblock %}

{% block toolbar %}
    <div class="tc-breadcrumb pull-left">
        {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:invoicesMenu',[],{"bill":bill, "relation": relation}) %}
           
        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>
{% endblock %}

{% block sheet %}
<div class="tc-title-section">    
    <h2>{{'Invoice #'~bill.id}}</h2>
    <p>Invoice generated from a bill closed on {{ bill.getCreatedAt()|date('M d Y') }} </p>
</div>
<div class="line-separator"></div>

<div class="tc-info-section">
    <div class="row">
        <div class="tc-invoice-vendor col-md-4">
            <legend>Services provider</legend>
            <p>
                <b>{{relation.getVendor().user.getFullName()}}</b><br>
                <em>{{relation.getVendor().user.email}}</em>      
            </p>
        </div>

        <div class="tc-invoice-client col-md-4">
            <legend>Customer</legend>
            <p>
                <b>{{relation.getClient().user.getFullName()}}</b><br>
                <em>{{relation.getClient().user.email}}</em>            
            </p>
        </div>

        <div class="tc-invoice-terms col-md-4">
            <legend>Informations</legend>
            <p><b>Date:</b> July 31st 2013<br>
                <b>Terms:</b> Net 30<br>
                <b>Due Date:</b> August 31st 2013
            </p>
        </div>
    </div>
</div>

<div class="tc-deliverables-section">  
    <legend>
        Work done
        <span class="badge">{{ bill.deliverables|length }}</span>
    </legend>
        
    <table class="tc-table table">
        <thead>
            <tr>
                <th class="left">Description</th>
                <th>Unit price</th>
                <th>Qty</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
        {% for deliverable in bill.deliverables() %}
            <tr >
                <td class="tc-description-col">
                    <i class="icon-check"></i> {{deliverable.name}}
                </td>
                <td class="tc-info-col tc-unitprice-col">
                    $ {{deliverable.cost|number_format(2, '.', ',')}}
                </td>
                <td class="tc-info-col tc-quantity-col">
                    {{deliverable.quantity}}
                </td>
                <td class="tc-info-col tc-subtotal-col">
                    $ {{(deliverable.quantity*deliverable.cost)|number_format(2, '.', ',')}}
                </td>
                
            </tr>     
        {% endfor %}
        </tbody>
    </table>
</div> 
<div class="tc-total-section">
    <div class="total-label">Total</div>
    <div class="total-value">$ {{bill.total|number_format(2, '.', ',')}}</div>
</div>
{% endblock %}
