{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% use "TCCoreBundle:Relation:menu_client.html.twig" %}

{% block body_class %} {{parent()}} invoice-edit  {% endblock %}

{% block toolbar %}
    <div class="tc-breadcrumb pull-left">
        {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:invoicesMenu',[],{"invoice":invoice, "relation": relation}) %}
           
        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>
    
    <div class="tc-controls pull-right">
        <button name="{{form.submit.vars.full_name}}" 
                class="btn btn-default btn-lg" 
                disabled="disabled"
                ng-disabled="false">
            Save
        </button>
    </div>
{% endblock %}


{% block main_attrs %} 
ng-app="Invoice" 
ng-controller="invoice.Controller"
ng-cloak
{% endblock %}

{% block main_before %} 
{% set attr = {'id': 'invoiceForm'} %}
{% set attr = attr|merge({'name':form.vars.name}) %}
{% set attr = attr|merge({'novalidate':""}) %}   
{{form_start(form, {'attr':attr})}}
{% endblock %}

{% block main_after %}
{{form_widget(form._token)}}
{{form_end(form, {"render_rest":false})}}
{% endblock %}

{% block sheet %}
<div class="tc-info-section">
    <div class="row">
        <div class="tc-invoice-vendor col-md-4">
            <legend>Services provider</legend>
            <p>
                <b>{{relation.getVendor().user.getFullName()}}</b><br>
                <em>{{relation.getVendor().user.email}}</em>      
            </p>
        </div>

        <div class="tc-invoice-client col-md-4">
            <legend>Customer</legend>
            <p>
                <b>{{relation.getClient().user.getFullName()}}</b><br>
                <em>{{relation.getClient().user.email}}</em>            
            </p>
        </div>
        {% raw %}
        <div class="tc-invoice-terms form-horizontal col-md-4">
            <legend>Informations</legend>
            <div class="form-group">
                <label class="col-xs-7 control-label">Invoice&nbsp;#:</label> 
                <div class="col-xs-5">
                    <input type="text" class="form-control text-center"
                            name="{{getFormName('no')}}"
                            ng-model="invoice.no"
                            ng-required="false" />
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-7 control-label">Date:</label> 
                
                <div class="col-xs-5">
                    <input type="text" class="form-control text-center"
                            name="{{getFormName('issued_at')}}"
                            ng-model="invoice.issued_at"
                            ng-required="false"
                            datepicker-popup="yyyy-MM-dd" 
                            is-open="false"  
                            placeholder="YYYY-MM-DD"
                            close-text="Close" />
                </div>
            </div>
                        
            <div class="form-group">
                <label class="col-xs-7 control-label">Due&nbsp;Date:</label> 
                
                <div class="col-xs-5">
                    <input type="text" class="form-control text-center"
                            name="{{getFormName('due_at')}}"
                            ng-model="invoice.due_at"
                            ng-required="false"
                            datepicker-popup="yyyy-MM-dd" 
                            is-open="false" 
                            placeholder="YYYY-MM-DD"
                            close-text="Close" />
                </div>
            </div>
        </div>
        {% endraw %}
    </div>
</div>

<div class="tc-deliverables-section">  
        
    <table  class="tc-deliverables-table table">
        <thead>
            <tr>
                <th>#</th>
                <th class="left tc-left-gap">Description</th>
                <th>Unit price</th>
                <th>Qty</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
        {% for deliverable in invoice.deliverables() %}
            <tr>
                <td class="tc-no tc-info-col">{{loop.index}}</td>
                <td class="tc-description tc-info-col left">
                    {{deliverable.name}}
                </td>
                <td class="tc-cost tc-info-col">
                    $ {{deliverable.cost|number_format(2, '.', ',')}}
                </td>
                <td class="tc-quantity tc-info-col">
                    {{deliverable.quantity}}
                </td>
                <td class="tc-subtotal tc-info-col">
                    $ {{(deliverable.quantity*deliverable.cost)|number_format(2, '.', ',')}}
                </td>
                
            </tr>     
        {% endfor %}
        </tbody>
    </table>
<div class="tc-total-price">
    <div class="split"></div>
    <div class="split"></div>
    <div class="total-label">Total</div>
    <div class="price">$ {{invoice.total|number_format(2, '.', ',')}}</div>
</div>
</div> 

{% endblock %}

{% block bottom_js %}
    {{ parent() }}
    <script src="{{asset("/js/directives/datepicker/datepicker.js")}}" type="text/javascript"></script>
    <script src="{{asset("/js/directives/position/position.js")}}" type="text/javascript"></script>
    <script src="{{asset("/js/directives/numbers.js")}}" type="text/javascript"></script>
    <script src="{{asset("/js/invoice/invoice-module.js")}}" type="text/javascript"></script>
    
    <script type="text/javascript">
    {% autoescape 'js' %}

    (function(ng, module){
        module.value("invoice", {
            id: {{invoice.id}},
            no: {{invoice.no}},
            created_at: "{{invoice.getCreatedAt()is not null ? invoice.getCreatedAt()|date("Y-m-d") : null}}",
            issued_at: "{{invoice.getIssuedAt()is not null ? invoice.getIssuedAt()|date("Y-m-d") : null}}",
            due_at: "{{invoice.getDueAt()is not null ? invoice.getDueAt()|date("Y-m-d") : null}}",
            deliverables : [
            {% for deliverable in invoice.deliverables %}
            {% set data = deliverable %}
                    {{"{'id':%s, 'name':'%s', 'cost':%s, 'quantity':%s, 'total':%s}"|format(data.id, data.name, data.cost, data.quantity, data.total)|raw}}  
                {% if not loop.last %} 
                {{","}}
                {% endif %}     
            {% endfor %}
            ]
        });

        module.value("form_name", "{{form.vars.name}}");
        
    })(angular, module);

    {% endautoescape %}
    </script>
{% endblock %}
