<div class="tc-title-section blurry">
    <h2>Work Order</h2>
    <p>This project order was created on {{order.createdAt|date('d M ')}} by {{order.creator.user.fullName}}.</p>
</div>

<div class="tc-outcome-section blurry">
    <legend>Job outcome</legend>
    <p>
        Description of the outcome
    </p>
</div>

<div class="tc-deliverables-section blurry">    
    <legend>Deliverables</legend>
    
    <table class="tc-deliverables table table-hover">
        <thead>
            <tr>
                <th class="no"></th>
                <th class="description">Description</th>
                <th class="cost">Unit price</th>
                <th class="quantity">Qty</th>
                <th class="subtotal">Subtotal</th>
            </tr>
        </thead>
        <tbody>
        {% set total = 65 %}
            <tr>
                <td class="no">1</td>
                <td class="description">Deliverable #1</td>
                <td class="cost">10</td>
                <td class="quantity">1</td>
                <td class="subtotal">10</td>
            </tr>    
            <tr>
                <td class="no">2</td>
                <td class="description">Deliverable #2</td>
                <td class="cost">55</td>
                <td class="quantity">1</td>
                <td class="subtotal">55</td>
            </tr>   
        </tbody>
    </table>
</div>

<div class="tc-section blurry">
    <div class="row-fluid">
    {% set columnsLeft = 12 %}
    {% set agreementColumns = 5 %}
    {% set totalColumns = 2 %}
        
    {% if is_client(relation) %}
        {% set columnsLeft = columnsLeft - agreementColumns %}
        <div class="tc-agreement-section span{{agreementColumns}}">
            <div class="agree-check"><input type="checkbox"> I accept the terms and conditions of the <a href="#">service agreement</a>.</div>
            <div class="agree-btn"><button class="btn btn-primary btn-large" type="button"><i class="icon-shopping-cart icon-white"></i> Purchase Work</button></div>
        </div>
    {% endif %}
    
    
    {% set columnsLeft = columnsLeft - totalColumns %}
        <div class="tc-total-section span{{totalColumns}} offset{{columnsLeft}}">
            <div class="total-label">Total</div>
            <div class="total-value">{{total}}</div>
        </div>
    </div>
</div>