{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% block body_class %} {{parent()}} order-edit  {% endblock %}

{% use "TCCoreBundle:Relation:menu_client.html.twig" %}

{% use 'TCCoreBundle:Order:order_form.html.twig' with bottom_js as form_bottom_js, head_css as form_head_css %}

{% block toolbar %}
    <div class="tc-breadcrumb pull-left">        
        {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:ordersMenu',[],{"relation": relation}) %}
        {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
    </div>

    <div class="tc-controls pull-right">
        {{ block('controls') }}
    </div>
{% endblock %}

{% block head_css %}
{{ parent()}}
{{ block('form_head_css') }}
{% endblock %}

{% block bottom_js %}
{{ parent()}}
{{ block('form_bottom_js') }}
{% endblock %}