{% extends 'TCCoreBundle::skeleton_client.html.twig' %}

{% set thread = order.thread %}

{% use "TCCoreBundle:Relation:relation_menu_client.html.twig" %}

{% use "TCCoreBundle:Order:order_show_base.html.twig" with body_class as base_body_class %}

{% use "TCCoreBundle:Thread:thread_quick.html.twig" %}

{% block body_class %} {{parent()}} {{ block('base_body_class') }}  {% endblock %}

{% block toolbar %}
<div class="tc-breadcrumb pull-left">
    {% set menu = knp_menu_get('TCCoreBundle:ClientMenuBuilder:ordersMenu',[],{"relation": relation, "order":order}) %}
    {{ knp_menu_render(menu, {'template': 'TCCoreBundle::breadcrumbs.html.twig'}) }}
</div>

    <div class="tc-controls toolbar pull-right">
        
        <div class="btn-group">
            
            <button type="button" class="btn-lg btn-default btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            
            <ul class="dropdown-menu pull-right" role="menu">
                
                {% if order.rfp is not null %}
                <li>
                    <a href="{{path('client_rfp_show' , {'idRFP':order.rfp.id, 'idRelation': relation.id})}}">
                        View RFP
                    </a>   
                </li>
                {% endif %}    
                                
                {% if is_declinable(order) %}
                <li>
                    <a href="{{path("client_order_decline", {'idRelation':relation.id, 'idOrder':order.id})}}">
                        Decline
                    </a>
                </li>
                {% endif %}

                {% if is_reopenable(order) %}
                <li>
                    <a href="{{path("client_order_reopen", {'idRelation':relation.id, 'idOrder':order.id})}}">
                        Reopen
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
            
    </div>
{% endblock %}

{% block main_attrs %} 
ng-app="Order" 
ng-cloak
{% endblock %}

{%block purchase_section %}
{% if purchaseForm is defined and purchaseForm is not null and is_purchasable(order) %}
<div class="tc-agreement-section" ng-controller="order.PurchaseController">
    {{form_start(purchaseForm)}}
        <div class="agree-check">
            <label for="{{purchaseForm.confirmation.vars.id}}">
            <input type="checkbox" 
                   id="{{purchaseForm.confirmation.vars.id}}"
                   name="{{purchaseForm.confirmation.vars.full_name}}" 
                   value="{{purchaseForm.confirmation.vars.value}}"
                   ng-model="confirm" />
            I accept the terms and conditions of this proposal.
            </label>
        </div>
        <div class="agree-btn">
            <button type="submit" class="btn btn-success btn-lg"
                id="{{purchaseForm.submit.vars.id}}"
                name="{{purchaseForm.submit.vars.full_name}}" 
                ng-disabled="!confirm"
                disabled>
                <span class="glyphicon glyphicon-ok tc-right5"></span> 
                Approve Proposal
            </button>
        </div>
        <div class="decline-btn"><a href="{{path('client_order_decline' , {'idOrder':order.id, 'idRelation': relation.id})}}">or reject it.</a></div>
    {{form_widget(purchaseForm._token)}}
    {{form_end(purchaseForm, {'render_rest':false})}}
</div>
{% endif %}
{% endblock %} 

{% block main_after %}
{{ block('thread_section') }}
{% endblock %}

{% block bottom_js %}
{{ parent() }}

<script type="text/javascript" src="{{asset("/js/order/show-module.js")}}"></script>
{{ block('thread_bottom_js') }}

{% endblock %}