{% block body_class %} order-show {% endblock %}

{% block sheet %}

    {% include "TCCoreBundle:Order:order_ribbon.html.twig" with { 'order' : order } %}
    
    <div class="tc-heading-section">
        <h2>{{order.heading}}</h2>
        <p>{{order.subheading}}</p>
    </div>

    <div class="tc-body-section">
        <div class="tc-document-body">
            {% for block in order.offer %} 
            <div class="tc-block">
                <h3>{{block.title}}</h3>
                <p>{{block.body|raw}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="tc-deliverables-section">    

        <table class="tc-deliverables-table table">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="left">Description</th>
                    <th>Unit price</th>
                    <th>Qty</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for deliverable in order.deliverables %} 
                {% set subTotal =  deliverable.cost * deliverable.quantity %}
                {% set total =  total + subTotal %}
                <tr>
                    <td class="tc-no tc-info-col">{{loop.index}}</td>
                    <td class="tc-description tc-info-col">{{deliverable.name}}</td>
                    <td class="tc-cost tc-info-col">$ {{deliverable.cost}}</td>
                    <td class="tc-quantity tc-info-col">{{deliverable.quantity}}</td>
                    <td class="tc-subtotal tc-info-col">$ {{subTotal|number_format(2, '.', ',')}}</td>
                </tr>    
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="tc-total-price">
    {% block total_section %} 
        <div class="split"></div>
        <div class="split"></div>
        <div class="total-label">Total</div>
        <div class="price">$ {{total|number_format(2, '.', ',')}}</div>
    {% endblock %}
    </div>

    {% block purchase_section %} {% endblock %}        
               
{% endblock %}