{% block body_class %} order-show {% endblock %}

{% block sheet %}

    <div class="tc-offer-section">
        
        <div class="tc-offer">
            {% for block in order.offer %} 
            <div class="tc-offer-block">
                <h3>{{block.title}}</h3>
                <p>{{block.body}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="tc-deliverables-section">    
        <legend>Deliverables <span class="badge">{{order.deliverables|length}}</span></legend>

        <table class="tc-deliverables table table-hover">
            <thead>
                <tr>
                    <th class="no"></th>
                    <th class="description">Description</th>
                    <th class="cost">Unit price</th>
                    <th class="quantity">Qty</th>
                    <th class="subtotal">Subtotal</th>
                </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for deliverable in order.deliverables %} 
                {% set subTotal =  deliverable.cost * deliverable.quantity %}
                {% set total =  total + subTotal %}
                <tr>
                    <td class="no">{{loop.index}}</td>
                    <td class="description">{{deliverable.name}}</td>
                    <td class="cost">{{deliverable.cost}}</td>
                    <td class="quantity">{{deliverable.quantity}}</td>
                    <td class="subtotal">$ {{subTotal|number_format(2, '.', ',')}}</td>
                </tr>    
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="tc-total-section">
    {% block total_section %} 
        <div class="total-label">Total</div>
        <div class="total-value">$ {{total|number_format(2, '.', ',')}}</div>
    {% endblock %}
    </div>

    {% block purchase_section %} {% endblock %}        
               
{% endblock %}