<form class="tc_user_profile" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    
    {{ form_errors(form) }}
    
    {{ form_row(form.plainPassword, {'label': 'New Password'}) }}
    
    {{ form_row(form.firstName, {'label': 'First name'}) }}
  
    {{ form_row(form.lastName, {'label': 'Last name'}) }}
    
    {{ form_widget(form._token) }}
    <div class="submit_container">
        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
