{% extends "TCUserBundle::skeleton.html.twig" %}

{% block body_class %} {{parent()}} profile_edit {% endblock %}

{% block main_before %}  
<form class="tc_user_profile" {{ form_enctype(form) }} 
      method="POST"
      novalidate=""
      action="{{ path('fos_user_profile_edit') }}">
{% endblock %}

{% block main_after %}
{{form_end(form, {"render_rest":false})}}
{% endblock %}

{% block toolbar %}

<div class="tc-toolbar">
    <div class="tc-breadcrumb pull-left">
        <ul class="breadcrumb">        
            <li class="active">    
                <a href="{{path('fos_user_profile_edit')}}">
                    <i class="icon-edit-profile-dark-large"></i> Edit Profile
                </a>
            </li>    
        </ul>
    </div>

    <div class="tc-controls pull-right">
        <input type="submit" class="btn btn-primary btn-lg"
               value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</div>

{% endblock %}

{% block sheet %}
<div class="profile">
    <legend>My Informations</legend>
        {% include "TCUserBundle:Profile:edit_content.html.twig" %}
</div>
{% endblock %}


