<form class="tc_user_profile" {{ form_enctype(form) }} method="POST"
      action="{{ path('fos_user_profile_edit') }}">
    
    {{ form_errors(form) }}
    
    <div class="col1 col-md-6 col-lg-6">
    
    {{ form_row(form.firstName, {'attr':{'placeholder':'First Name', 'class':'input-lg' }})}}

    {{ form_row(form.lastName, {'attr':{'placeholder':'Last Name', 'class':'input-lg' }})}}
    
    {{ form_row(form.plainPassword.first, {'attr':{'placeholder':'Enter a New Password', 'class':'input-lg' }})}}

    {{ form_row(form.plainPassword.second, {'attr':{'placeholder':'Confirm Your New Password', 'class':'input-lg' }})}}
    
    </div>
    
    <div class="col2 col-md-6 col-lg-6">
    
        {{ form_row(form.avatar, {'label': 'Modify Your Avatar'}) }}

        <img class="img-rounded" src="{{vich_uploader_asset(app.user, 'avatar') | imagine_filter('140_thumb')}}">
        
    </div>
    
    {{ form_widget(form._token) }}

</form>
