{% extends "TCUserBundle::skeleton.html.twig" %}

{% block head_css %}
    {{parent()}}
<link href="{{asset('/css/user.css')}}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block head_js %}
    {{parent()}}
{% endblock %}

{% block body_class %}
    {{parent()}} tc_user_confirmed
{% endblock %}

{% block body %}
<div class="gradient"></div>

<div class="wrapper">
    <a href="/"><div class="logo"></div></a>
    
    <div class="well">
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <p class="message flash-{{ type }}">
                {{ message }}
            </p>
        {% endfor %}
    {% endfor %}
        <a href="{{path('app')}}">Bring me to my account</a>
    </div>
</div>
{% endblock %}
